{% extends 'database/base.html' %}
{% load my_tags %}

{% block content %}
<div class="row text-center">
    {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img class="card-img-top"
                    src="{{ object.img|mymedia }}">
                </div>
                <div class="card-body">

                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.name }}</li>
                        <p></p>
                        <li>{{ object.decrp|truncatechars:100 }}</li>
                    </ul>

                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}